Debug
Release
Bin
Obj
Output
*.user
*.sdf
*.suo
*.ipch
*.opensdf

D2Hackit/D2Hackit/\.vs/D2hackit/v15/Browse\.VC\.db

D2Hackit/D2Hackit/\.vs/D2hackit/v15/Solution\.VC\.db

D2Hackit/D2Hackit/\.vs/D2hackit/v15/Solution\.VC\.db-shm

D2Hackit/D2Hackit/\.vs/D2hackit/v15/Solution\.VC\.db-wal
